@model K22CNT2_VuAnhDuong_2210900017.Models.QUAN_TRI

@{
    ViewBag.Title = "Details";
}

<h2>Thông tin</h2>

<div>
    <h4>Quản trị</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Mật khẩu</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_khau)
        </dd>

        <dt>
            <span>Trạng thái</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tai_khoan }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })

</p>
